@media screen {
  img {
    width: 100%;



  }
  #begining {
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 50px;
  }

  #topper {
    background-image: url(https://www.insidehook.com/wp-content/uploads/2022/03/mlb-pitch-clock-e1646669086950.jpg?fit=1200%2C798);
  background-size: cover;      
  background-repeat: no-repeat; 
  background-position: center;
    height: 100vh;
}

    
  }

  .caption {
    font-size: smaller;
  }
  h1 {
    font-family: "Bitcount Prop Single", system-ui;
    color: darkorange;
    font-size: 75px;
  font-weight: 600
   
  }
  h2 {
    font-size: 20px;
    color: darkorange;
    font-family: "Bitcount Prop Single", system-ui;
  
  }
  p {
    font-family: "Amarna", sans-serif;
  }
  .pull-quote {
    border-top: 15px solid black;
    border-bottom: 15px solid black;
    border-left: 15px solid black;
    border-right: 15px solid black;
    background-color: dodgerblue
    
  }
  .quote {
    font-size: 20px;
    padding: 10px;
    
  }
  .name {
    font-weight: bold;
    padding-top: 10px
    
  }
}

@media (min-width: 576px) {
  #begining {
    padding-left: 15%;
    padding-right: 15%;
  }
  h1 {
    padding-top: 100px;
  }
}
