h1 {
    font-family: Cambria, Cochin, Georgia, Times,;
    font-weight: bold

}
h2 {
    font-family: Cambria, Cochin, Georgia, Times, 
}

#byline {
    font-family: Cambria, Cochin, Georgia, Times, 
}